{% load staticfiles %}

<head>
	<title>Admin Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
</head>

<body>
	<div id="wrapper">
		<div id="cell">
			<h1>Login</h1>

			<form method="POST" action="/users/login/">

				{% csrf_token %}
				<div id="login">
					<label>Username: </label><input class="login-field" id="username" type="text" name="username" value="" size=30>
					<br>
					<label>Password: </label><input class="login-field" type="password" name="password" value="" size=30>
					<br>
				</div>
				<input class="btn" id="submit" type="submit" value="Submit">
				<a href="/users/"><input class="btn" id="cancel" type="button" value="Cancel"></a>

			</form>
		</div>
	</div>
	<script src="{% static 'users/script.js' %}"></script>
</body>