{% load staticfiles %}

<head>
	{% if form_type == 'register' %}
		<title>Registration</title>
	{% elif form_type == 'edit' %}
		<title>Edit User</title>
	{% else %}
		<title>Add User</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
</head>

<body>
	<ul id="nav-list">
		<li><a href="/logout" id="logout">Logout</a></li>
	</ul><br>

	{% if form_type == 'register' %}
		<h1>Register</h1>
	{% elif form_type == 'edit' %}
		<h1>Edit User</h1>
	{% else %}
		<h1>Add User</h1>
	{% endif %}

	<form method="POST">	

		{% csrf_token %}
		{{ form.as_p }}
		<input class="btn" type="submit" id="submit" value="Submit" />
		{% if form_type == 'register' %}
			<a href="/"><input class="btn" type="button" id="cancel" value="Cancel"></a>
		{% else %}
			<a href="/user_list"><input class="btn" type="button" id="cancel" value="Cancel"></a>
		{% endif %}
		{% if form_type == 'edit' %}
			<input class="btn" id="delete" type="submit" name="delete" value="Delete User">
		{% endif %}

	</form>
</body>