{% load staticfiles %}

<head>
	<title>User List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
</head>

<body>
	<ul id="nav-list">
		<li><a href="/users/logout" id="logout">Logout</a></li>
	</ul><br>

	<h1>Users</h1>
	<p>Click Username to Edit/Delete User</p>

	{% if user_list %}
		<ul id="user_list">
		{% for user in user_list %}
			<li><a href="{% url 'users:user_edit' user.username %}">{{ user.username }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No users exist.</p>
	{% endif %}

	<a href="/users/add_user"><input class="btn" id="add" type="button" value="Add User"></a>

</body>