body {
	font-family: Helvetica, sans-serif;
	background-color: #fff;
	color: #333;
	height: 100%;
}

#warning {
	color: red;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: green;
	font-size: 1.2em;
}

#nav-list {
	float: right;
	margin-right: 20px;
}

#nav-list li {
	display: inline-block;
	margin-left: 20px;
}

#wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

#cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#login label {
	display: inline-block;
	clear: left;
	width: 7%;
	text-align: left;
	vertical-align: middle;
}

#login input {
	display: inline-block;
	clear: right;
	height: 25px;
}

#user_list {
	list-style: none;
}

.btn {
	border: 1px, black;
	padding: 10px 30px;
	margin: 40px 0px;
	border-radius: 5px;
	font-size: 1em;
}

.btn:hover {
	font-size: 1.2em;
}

#submit {
	background-color: green;
	color: white;
}

#cancel {
	background-color: yellow;
}

#delete {
	background-color: red;
	color: white;
}

#add {
	background-color: blue;
	color: white;
}